<a href="https://colab.research.google.com/github/umidyor/PySaprk_uzb_simple_tutorial/blob/main/PySpark_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark        #pyspark==3.4.1 -versiyasini yuklab oling
#PySpark bilan Pandas orasidagi farq bu, pandas katta hajmga ega bo'lgan datalar ustida ishlashga qiynaladi.Shu sababli PySparkdan foydalanish qulay.PySpark bu Python+Java...

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=b4414a1529dd25e57a22aebd0935492043537985aeda9b164a4969ac1bc3479b
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
import pyspark
import pandas as pd

In [ ]:
from pyspark.sql import SparkSession   #SparkSession Spark bilan ishlash uchun PySpark da kiritiladigan asosiy obyekt hisoblanadi.
#U SparkCluster bilan bog'lanishni o'rnatish, ma'lumotlar bazasiga so'rovlar yuborish, ma'lumotlarni ishlash va sair qo'llanmalarni o'z ichiga oladi...

In [ ]:
spark = SparkSession.builder.getOrCreate()  #pysparkdan foydalanish uchun muhit yaratamiz
spark

In [59]:
from pyspark.sql import Row     #Ushbu kutubxonadan foydalanib oddiygina spark dataframe yaratamiz.Row() funkisyasi bizga dataframe yaratishda avtomatik tarzda, ustunlarning datatype(turi)ni aniqab beradi
spdf=spark.createDataFrame([
    Row(yosh=15, yil=2007, Ism='Umidyor'),
    Row(yosh=16, yil=2006, Ism='Atabek'),
    Row(yosh=16, yil=2006, Ism="Shog'ulom")
])
spdf.show()

+----+----+---------+
|yosh| yil|      Ism|
+----+----+---------+
|  15|2007|  Umidyor|
|  16|2006|   Atabek|
|  16|2006|Shog'ulom|
+----+----+---------+

In [ ]:
spdf.printSchema()   #ustunlar haqidagi ma'lumotlar.Ya'ni 'long' bu int bilan deyarli bir xil.Shunchaki int 32 bitli.'long' esa undan kattaroq.

root
 |-- yosh: long (nullable = true)
 |-- yil: long (nullable = true)
 |-- Ism: string (nullable = true)

In [61]:
spdf.show(1)   #1-qator

+----+----+-------+
|yosh| yil|    Ism|
+----+----+-------+
|  15|2007|Umidyor|
+----+----+-------+
only showing top 1 row

In [62]:
spdf  #aamo bu yerda yosh ustuni bigint holda turbdi. bigint va long deyarli bir xil.Ikkalasi ham 64 bitlik butun sonlarni anglatadi

DataFrame[yosh: bigint, yil: bigint, Ism: string]

In [ ]:
from datetime import datetime, date                 #Ushbu holda shunchaki Row() funksiyasidan foydalanmasdan DataFrame yaratamiz.'schema' parametri orqali, biz ustunlarga nom beramiz va ularga mos datatypeni biriktiramiz!
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a bigint, b float, c string, d date, e timestamp')
df

DataFrame[a: bigint, b: float, c: string, d: date, e: timestamp]

In [67]:
from datetime import datetime, date   #schema qo'syilishi shart emas
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], 'a bigint, b float, c string, d date, e timestamp')

In [ ]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
pandas_df = pd.DataFrame({                     #pandasdan foydalangan holda DataFrame yaratamiz va uni oson usulda spark dataframega o'giramiz.
    'a': [1, 2, 3],
    'b': [2., 3., 4.],
    'c': ['string1', 'string2', 'string3'],
    'd': [date(2000, 1, 1), date(2000, 2, 1), date(2000, 3, 1)],
    'e': [datetime(2000, 1, 1, 12, 0), datetime(2000, 1, 2, 12, 0), datetime(2000, 1, 3, 12, 0)]
})
df = spark.createDataFrame(pandas_df)
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [ ]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [ ]:
df.show()
df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [ ]:
"""PySparkda foydalaniladigan bir nechta muhim ma'lumot turlarini va ularning tariflari:

#Numeric Datatypes (Sonlar turlari):

ByteType: 8-bit imzolangan butun son.
ShortType: 16-bit imzolangan butun son.
IntegerType: 32-bit imzolangan butun son.
LongType: 64-bit imzolangan butun son.
FloatType: 32-bit imzolanmagan o'lchamli son.
DoubleType: 64-bit imzolanmagan o'lchamli son.
Boolean Datatype (Mantiqiy turi):

BooleanType: Mantiqiy qiymat (True yoki False).
String Datatype (Matn turi):

StringType: Matn qiymati.
Binary Datatype (Binar turi):

BinaryType: Binar qiymati.
Date and Time Datatypes (Sana va vaqt turlari):

DateType: Sana qiymati (YYYY-MM-DD).
TimestampType: Vaqt qiymati (YYYY-MM-DD HH:MM:SS).
Collection Datatypes (To'plam turlari):

ArrayType: Elementlarining bir to'plamda joylashgan ro'yxati.
MapType: Kalit-qiymat juftliklarining ro'yxati.
StructType: Elementlarining nomlangan sifatlarini o'z ichiga olgan struktura."""